Body {
  text-align: center;
  background-image: url("./bananasPattern.webp");
  width: 100%;
  height: 100%;
  color: #0d6efd;
}

main {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px auto;
  grid-gap: 10px;
}

.NameTracklist {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.NamePlaylist {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.tracklistTable {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.playlistTable {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.leftaligntext {
  text-align: left;
}

form {
  padding: 8px;
}

button {
  padding: 8px;
}

.signin {
  padding: 8px;
}

.NamePlaylist input[type="text"] {
  color: #0d6efd;
  background-color: none;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  text-align: center;
}

.NamePlaylist input::placeholder {
  color: #0d6efd;
  opacity: 50%;
  background-color: none;
}

.saveButton {
  background-color: #0d6efd;
  border-color: none;
  color: white;
  border-radius: 10px;
  margin: auto;
}

.alert {
  padding: 20px;
  background-color: #f44336; 
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.styled-element {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px; 
      margin: 10px;
    }
