/* GLOBAL STYLES */
html {
  width: 100%;
}
body {
  text-align: center;
  /* background-image: url("./bananasPattern.webp"); */
  background-image: linear-gradient(#00bbe0, #020024);
  width: 100vw;
  height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}
main {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px auto;
  grid-gap: 10px;
}

.navbar {
  width: 100vw;
}

/* GRID STYLES  */
.NameTracklist {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: auto;
}
.NamePlaylist {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: auto;
}
.tracklistTable {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.playlistTable {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* NAV STYLES  */
.leftaligntext {
  text-align: left;
}
/* form {
  padding: 8px;
} */

/* BUTTON STYLES  */
.greyBtn {
  padding: 8px;
  color: white;
  background-color: #5c5c5c;
  border-style: none;
  border-radius: 100px;
}
.greyBtn:hover {
  background-color: #8a8a8a;
  border-color: #8a8a8a;
}
.links {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
}
.newSignIn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: 10px;
  /* spotify brand green color used here  */
  background-color: #1db954;
  color: black;
  font-weight: bold;
  border-radius: 100px;
}
.newSignIn:hover {
  background-color: #1ed760;
}

.removeSpotifyHyperlink{
    text-decoration: none;
    color: black;
  }

.signin {
  margin: 10px;
}
.saveButton {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}
.nameBtn {
  border-radius: 0 100px 100px 0;
  border-color: #28242c;
  border-style: solid solid solid none;
  margin-left: 0;
}

.nameBtn:hover {
  border-radius: 0 100px 100px 0;
  border-color: #28242c;
  border-style: solid solid solid none;
  margin-left: 0;
}

/* INPUT STYLES  */
input {
  color: #28242c;
  border-radius: 100px 0 0 100px;
  border-color: #28242c;
  border-style: solid;
  /* width: 320px; */

  margin-right: 0;
}

input:focus {
  outline-width: 0;
}

/* search */
/* .flexSearch {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* TOAST STYLES  */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}

.mobileMenu{
  display: none;
}

.menuBtn{
  display: none;
} 

/* responsivity */

@media screen and (max-width: 800px) {
  main {
    display: block;
    width: 100vw;
  }
  .navbar {
    display: grid;
    grid-template-areas: "a b"
                        "c c"
                        "d d"
                        "e e";
  }
  .gridAreaA{
    grid-area: a;
    margin-left: 10px;
  }.gridAreaB{
    grid-area: b;
    margin-right: 0px;
  }.gridAreaC{
    grid-area: c;    
  }.gridAreaD{
    grid-area: d;
  }.gridAreaE{
    grid-area: e;
  }
  .links {
    margin-bottom: 10px;
  }
  .NameTracklist {
    margin-bottom: 10px;
    max-width: max-content;
  }
  .NamePlaylist {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .tracklistTable .playlistTable {
    margin: auto;
  }
  input {
    max-width: 80vw;
    margin: 0;
  }
  .nameBtn {
    max-width: 20vw;
    margin: 0;
  }
  .mobileMenu{
  display: inline-block;
  background-color: transparent;
} .menuBtn{
  display: block;
  padding: 8px;
  color: white;
  background-color: transparent;
  border-style: none;
  border-radius: 100px;
  margin: 10px;
} 
.titleMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
} .expandedMenu {
  display: none;
} .collapsedMenu {
  display: show;
}

}

